<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменение поставщика</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body style="background: #e1e1e1">
    <div th:each="el: ${supplier}" style="padding: 10px; margin-left: 15px; margin-top: 10px">
        <form method="post">
            <label>
                <input minlength="1" th:field="*{supplier.email}" name="email" type="text" placeholder="Эл. почта" th:value="${supplier.email}" class="form-control" style="min-width: 100px; width: 300px; margin-bottom: 10px">
<!--                <div th:if="${#fields.hasErrors('employee.surname')}" th:errors="*{employee.surname}" style="color: red; margin-bottom: 8px"></div>-->
                <div></div>
                <input minlength="1" th:field="*{supplier.nameSupplier}" name="nameSupplier" type="text" placeholder="Наименование курьера" th:value="${supplier.nameSupplier}" class="form-control" style="min-width: 100px; width: 300px; margin-bottom: 10px">
<!--                <div th:if="${#fields.hasErrors('employee.name')}" th:errors="*{employee.name}" style="color: red; margin-bottom: 8px"></div>-->
                <div></div>
                <input minlength="1" th:field="*{supplier.address}"  name="address" type="text" placeholder="Адрес поставщика" th:value="${supplier.address}" class="form-control" style="min-width: 100px; width: 300px; margin-bottom: 10px">
<!--                <div th:if="${#fields.hasErrors('employee.middle_name')}" th:errors="*{employee.middle_name}" style="color: red; margin-bottom: 8px"></div>-->
                <div></div>
                <input minlength="1" th:field="*{supplier.phone}"  name="phone" type="text" placeholder="Номер телефона" th:value="${supplier.phone}" class="form-control" style="min-width: 100px; width: 300px; margin-bottom: 10px">
<!--                <div th:if="${#fields.hasErrors('employee.age')}" th:errors="*{employee.age}" style="color: red; margin-bottom: 8px"></div>-->

                <input type="submit" value="Подтвердить" class="btn btn-primary" style="margin-bottom: 5px">
            </label>
        </form>
    </div>

    <div style="margin-left: 25px;">
        <a th:href="'/supplier/details/' + ${supplier.id}" class="btn btn-outline-secondary">Назад</a>
    </div>
</body>
</html>