<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Подробности плана закупок</title>
    <div th:insert="fragments/tailwindNavbar"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="row m-5">
        <form th:each="el: ${plan}" th:action="'/plan/edit/' + ${el.getId()}" method="post">
            <div class=" input-field col s12">
                <input th:value="${el.getId()}" disabled id="idDetails" type="email">
                <label for="idDetails">ID</label>
            </div>

            <div class=" input-field col s12">
                <input disabled th:value="${el.getDateOfRegistration()}" required id="dateReg" class="validate" type="text" name="dateOfRegistration">
                <label for="dateReg">Дата заключения</label>
            </div>

            <div class="input-field col s12">
                <select disabled required name="supplier">
                    <div th:each="el1 : ${el.getSupplier()}">
                        <option th:text="${el1.getId()} + ' ' + ${el1.getNameSupplier()}"></option>
                    </div>
                </select>
                <label>Поставщик</label>
            </div>

            <div class="input-field col s12">
                <select disabled required name="employee">
                    <div th:each="el1 : ${el.getEmployee()}">
                        <option th:text="${el1.id} + ' ' + ${el1.getSurname()} + ' ' + ${el1.getName()} + ' ' + ${el1.getMiddleName()}"></option>
                    </div>
                </select>
                <label>Сотрудник</label>
            </div>

            <div class="input-field col s12">
                <select disabled required name="employee">
                    <div th:each="el1 : ${el.getProduct()}">
                        <option th:text="${el1.id} + ' ' + ${el1.getNameProduct()}"></option>
                    </div>
                </select>
                <label>Товар</label>
            </div>

            <div class=" input-field col s12">
                <input th:value="${el.getTotalCost()}" disabled id="totalCost" type="text">
                <label for="totalCost">Итоговая стоимость</label>
            </div>


            <a href="#modalConf" class="btn waves-effect waves-green red mb-3 modal-trigger">Удалить</a>
            <a th:href="'/plan'" class="btn waves-effect waves-light grey mb-3">Назад</a>

            <div id="modalConf" class="modal modal-fixed-footer" style="width: 550px; height: 240px">
                <div class="modal-content">
                    <p class="center" style="font-size: 32px">Удаление плана закупок</p>
                    <p class="center" style="font-size: 21px">Пожалуйста, подтвердите удаление записи</p>
                </div>
                <div class="modal-footer">
                    <a th:href="'/plan/del/' + ${el.getId()}" class="waves-effect waves-green btn red">Подтвердить</a>
                    <a class="modal-close waves-effect waves-green btn grey">Закрыть</a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
<script>
    $(document).ready(function(){
        $('.modal').modal();
    });
    $(document).ready(function(){
        $('select').formSelect();
    });
</script>