<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Панель администратора</title>
    <div th:insert="fragments/tailwindNavbar"></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body class="bg-gradient-to-r from-white via-gray-50 to-yellow-50">
    <div class="row center mt-10">
        <div class="col s12 offset-m4 m4">
            <div class="card z-depth-4">
                <div class="card-content blue-grey lighten-4">
                    <span class="card-title">Панель администратора</span>
                </div>

                <div class="card-content row s12">
                    <div class="flex-col mb-4">
                        <a id="backup" class="btn waves-effect waves-light green accent-4">Создать копию базы данных</a>
                    </div>
                    <div class="flex-col cover-container">
                        <a id="restore" class="btn waves-effect waves-light blue">Восстановить базу данных</a>
                    </div>

                </div>
              </div>
        </div>
    </div>
</body>
</html>

<script>
    document.getElementById('restore').addEventListener('click', function () {

        $.get('/restore', {dbName: 'UPtest'}, function(data){
            alert(data);
        });
    });

    document.getElementById('backup').addEventListener('click', function () {

        $.get('/backup', {dbName: 'UPtest'}, function(data){
            alert(data);
        });
    });
</script>