<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление цвета</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body style="background: #e1e1e1">
    <form th:object="${color}" method="post" style="margin-left: 15px; margin-top: 15px">
        <div>Название цвета</div>
        <input required minlength="1" type="text" name="NameColor" placeholder="Название цвета" style="margin-bottom: 8px"> <br>
        <input type="submit" class="btn btn-outline-success" value="Создать" style="margin-bottom: 10px"> <br>
    </form>
    <a href="/color" class="btn btn-outline-secondary" style="margin-left: 15px">Назад</a>
</body>
</html>