<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление клиента</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body style="background: #e1e1e1">
    <form th:object="${client}" method="post" style="margin-left: 15px; margin-top: 15px">
        <div>Эл. почта</div>
        <input minlength="1" required type="email" name="email" placeholder="Эл. почта" style="margin-bottom: 8px"> <br>
        <div>Фамилия</div>
        <input minlength="1" required type="text" name="surname" placeholder="Фамилия" style="margin-bottom: 8px"> <br>
        <div>Имя</div>
        <input minlength="1" required type="text" name="name" placeholder="Имя" style="margin-bottom: 8px"> <br>
        <div>Отчество</div>
        <input minlength="1" required type="text" name="middleName" placeholder="Отчество" style="margin-bottom: 8px"> <br>
        <div>Адрес</div>
        <input minlength="1" required type="text" name="address" placeholder="Адрес" style="margin-bottom: 8px"> <br>
        <div>Номер телефона</div>
        <input minlength="1" required type="tel" name="phone" placeholder="Номер телефона" style="margin-bottom: 8px"> <br>

        <input type="submit" class="btn btn-outline-success" value="Создать" style="margin-bottom: 10px"> <br>
    </form>
    <a href="/client" class="btn btn-outline-secondary" style="margin-left: 15px">Назад</a>
</body>
</html>