<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавление чека</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <div th:insert="fragments/header :: headerMain"></div>
</head>
<body style="background: #e1e1e1">
    <form th:object="${check}" method="post" style="margin-left: 15px; margin-top: 15px">
        <div>Дата печати</div>
        <input minlength="1" required type="text" name="dateOfRelease" placeholder="Дата печати" style="margin-bottom: 8px"> <br>
<!--        <div th:if="${#fields.hasErrors('dateOfRelease')}" th:errors="*{dateOfRelease}"  style="color: red"></div>-->

        <div style="margin-bottom: 8px">
            <select name="order">
                <div th:each="el : ${orderArrayList}">
                    <option th:text="${el.id}"></option>
                </div>
            </select>
        </div>
        <div>Сотрудники</div>

        <div style="margin-bottom: 8px">
            <select name="employee">
                <div th:each="el : ${listEmployee}">
                    <option th:text="${el.id} + ' ' + ${el.surname}"></option>
                </div>
            </select>
        </div>
        <div>Фамилия</div>

        <div style="margin-bottom: 8px">
            <select name="client">
                <div th:each="el : ${listClient}">
                    <option th:text="${el.id} + ' ' + ${el.surname}"></option>
                </div>
            </select>
        </div>
        <div>Смена</div>

        <div style="margin-bottom: 8px">
            <select name="shift">
                <div th:each="el : ${listShift}">
                    <option th:text="${el.nameShift}"></option>
                </div>
            </select>
        </div>

        <input type="submit" class="btn btn-outline-success" value="Создать" style="margin-bottom: 10px"> <br>
    </form>
    <a href="/plan" class="btn btn-outline-secondary" style="margin-left: 15px">Назад</a>
</body>
</html>