<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <div class="row center mt-20">
        <form class="col s12 offset-m4 m4" action="/registration" method="post">
            <div class="card z-depth-4 ">
                <div class="card-content blue-grey lighten-4">
                    <span class="card-title">Регистрация</span>
                    <div th:if="${error}" class="red-text">
                        Такой пользователь уже существует.
                    </div>
                </div>
                <div class="card-content s12">
                    <div class="input-field">
                        <i class="material-icons prefix pr-3">email</i>
                        <input required name="email" id="input-email" type="email" class="validate"/>
                        <label for="input-email">Эл. почта</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix pr-3">lock</i>
                        <input required name="password" id="password" type="password" class="validate"/>
                        <label for="password">Пароль</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix pr-3">person</i>
                        <input required name="surname" id="surname" type="text" class="validate">
                        <label for="surname">Фамилия</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix pr-3">person</i>
                        <input required name="name" id="name" type="text" class="validate">
                        <label for="name">Имя</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix pr-3">person</i>
                        <input name="middleName" id="middleName" type="text" class="validate">
                        <label for="middleName">Отчество</label>
                    </div>

                    <div class="input-field">
                        <i class="material-icons prefix pr-3">phone</i>
                        <input required name="phone" id="phone" type="tel" pattern="[+][7][(][0-9][0-9][0-9][)][0-9][0-9][0-9][-][0-9][0-9][-][0-9][0-9]" class="validate"/>
                        <label for="phone">Номер телефона</label>
                    </div>

                    <div class="row" style="margin-bottom: 0px">
                        <input type="submit" value="Подтвердить" class="left btn waves-effect waves-light green accent-4 ml-5"/>
                        <a href="login.html" class="right btn waves-effect waves-light grey mr-4">Назад</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
